@model WordsBGood.Domain.Entities.User

@{
    ViewBag.Title = "LoginForm";
}

<h2>LoginForm</h2>

@Html.ValidationSummary()

 @using (Html.BeginForm())
        {
            <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
            <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
            
            <input type ="submit" value ="Log in" />
        }
