/*• #434E3C Gray
    r:67 , g:78 , b: 60
• #F5F4EB White
    r:245, g: 244, b: 235
• #893667 Purple
    r:137, g: 54, b: 103
*/

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #434E3C;
    background-color: #F5F4EB;
    height: auto;
    width: auto;
}


header {
    text-align: center;
}
footer {
    text-align: right;
    margin-right: 25px;
}

aside {
    float: right;
    padding-left: 10px;
    border-left: solid 5px #893667;
    height: auto;

}

Nav,
Nav ul,
Nav li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
Nav {
  width: auto;
}

Nav ul 
{
  zoom: 1;
  background: #a7bc7a url(pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
Nav ul:before {
  content: '';
  display: block;
}
Nav ul:after {
  content: '';
  display: table;
  clear: both;
}
Nav a,
Nav a:link,
Nav a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
Nav a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
Nav li {
  float: left;
  border-right: 1px solid #b2c58b;
}
Nav li:hover {
  background: #9cb369 url(pattern.png) top left repeat;
}
Nav li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}


#MainContent {
    padding:20px; 
    padding-left: 50px;
    margin-top: 10px;
    border:  solid 5px #893667; 
    font-size:15pt;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
        
   
}

h1 {
    color: #434E3C;
    text-align: center;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
