@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Administrator Page</h2>

<p>Congrats! You have made it to the Admin page!  You have special rights.</p>
<p>Your rights will be ready soon</p>

@Html.ActionLink("Edit Users", "EditUserMain", "Admin")
@Html.ActionLink("Edit Categories", "EditCatsMain", "Admin")

